html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
}

#map {
  width: 100%;
  height: 100%;
}

/* Анимация мигания границ */
@keyframes blinkBorder {
  0% { stroke: white; stroke-width: 3; }
  50% { stroke: rgba(255,255,255,0.1); stroke-width: 3; }
  100% { stroke: white; stroke-width: 3; }
}

/* Попапы */
.leaflet-popup-content-wrapper {
  background: rgba(30,30,30,0.95);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  font-family: 'Segoe UI', sans-serif;
}
